body {
  font-family: Arial;
  background: #f4f6f8;
  text-align: center;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  margin: 15px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card {
  background: white;
  width: 320px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: left;
}

.card h3 {
  margin: 0;
}

.section {
  margin-top: 10px;
}

.score {
  font-size: 18px;
  color: green;
  font-weight: bold;
}
